/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 60px;
    padding: 0;
    background-color: #f5f5f5;
}

h2 {
  font-size: 15px; /* Or use other units like em, rem, or percentage */
}

h3 {
  font-size: 12px; /* Or use other units like em, rem, or percentage */
}

header {
    background-color: #f4aaa8;
    color: #fff;
    text-align: center;
    padding: 5px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tile {
    flex: 1 0 350px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.tile:hover {
    transform: scale(1.05);
}

footer {
    background-color: #f4aaa8;
    color: #fff;
    text-align: center;
    padding: 3px;
}